$primary: #FFFFFF;
$secondary: #b71a1b;
$white: #FFFFFF;
$gray: #503e3f;
$black: #201F1F;
$persic: #C68457;


$cos_bp: 1440px;
$xl-bp: 1024px;
$sm-bp: 500px;

:root {
  --black: #262626;
  --white: #FFFFFF;
  --dwhite: #F2F2F2;
  --lblue: #26FFE6;
  --blue: #00AEDA;
  --dblue: #005E9A;
  --grey: #575757;
  --lgrey: rgba(38, 38, 38, 0.3);
  --lmodal: #C7C7C7;
}



