.header {
  position: fixed;
  width: 100%;
  transition: transform .3s, background-color .1s;
  background-color: transparent;
  will-change: transform;
  top: 0;
  transform: translate3d(0, 0, 0);
  @include breakpoint($xl-bp) {
    width: 100%;
  }
  nav {
    ul {
      li.active {
        color: var(--lblue);
      }
    }
  }
  .scroll-fix {
    position: fixed;
    top: 0;
    left: 0;
    color: red;
    font-size: 3rem; 
  }
}

.out {
  transform: translate3d(0, -100%, 0);
}


.header--active {
  background-color: rgba(0, 94, 154, 0.25);
}

.header--menu {
  @include breakpoint($xl-bp) {
    height: 100%;
    .header-text {
      fill: var(--black);
    }
  }

}

.hv-undrl {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0.1rem;
    background-color: var(--black);
    transition: width .3s;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }
}

.hv-undrl--white {
  &::after {
    background-color: var(--white);
  }
}

.blur-block {
  -webkit-backdrop-filter: blur(0.5rem);
  backdrop-filter: blur(0.5rem);
}
.custom-blur {
  -webkit-filter: blur(7.5rem);
  filter: blur(7.5rem);
}