.main {}

.montserat {
  font-family: "Montserrat";
}
.roboto {
  font-family: "Roboto";
}
.Helvetica {
  font-family: "HelveticaNeueCyr";
}

.custom-block {
  background-color: rgba(0, 94, 154, 0.25);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 2.5rem;
    border: 0.1rem solid transparent;
    background: linear-gradient(286.9deg, #121F4E 0.63%, rgba(13, 26, 69, 0) 100%) border-box, linear-gradient(107.11deg, #FFFFFF 0.29%, rgba(255, 255, 255, 0) 97.2%) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }
}


.balls-background {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 53rem;
    height: 53rem;
    right: 13rem;
    top: 5.2rem;
    border-radius: 100%;

    background: #26FFE6;
    filter: blur(7.5rem);
    transform: rotate(15deg);
    z-index: -1;
    @include breakpoint($sm-bp) {
      width: 22rem;
      height: 21.8rem;
      left: 4rem;
      top: 33.4rem;
      z-index: 0;
      
      background: #00AEDA;
      filter: blur(6.5rem);
    }
  }

  &::after {
    content: '';
    position: absolute;
    width: 54rem;
    height: 53rem;
    border-radius: 100%;
    left: 26.7rem;
    top: 18.2rem;

    background: #00AEDA;
    filter: blur(7.5rem);
    transform: rotate(15deg);
    z-index: -2;
    @include breakpoint($xl-bp) {
      width: 25.4rem;
      height: 25.1rem;
      left: auto;
      right: 0;
      top: 30rem;
      filter: blur(5.5rem);
      background: #26FFE6;
      transform: unset;
      z-index: -1;
    }
  }
}

.point-image {
  width: 69rem;
  height: 72rem;
  top: 5rem;
  right: -8rem;
  @include breakpoint($xl-bp) {
    width: 100%;
    right: -4rem;
    top: 26rem;
    height: 39rem;
  }
  @include breakpoint($sm-bp) {
    width: 107%;
    height: 45rem;
    right: -2rem;
    top: 25rem;
  }
}

.snowflake {
  width: 46rem;
  height: 46.5rem;
  top: 28rem;
  left: 51rem;
  @include breakpoint($xl-bp) {
    display: none;
  }
}

.snowflake2 {
  width: 29.5rem;
  height: 29.4rem;
  top: 18rem;
  left: 10.5rem;
  @include breakpoint($sm-bp) {
    top: 30rem;
    left: -14.5rem;
  }
}

.img-contain {
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.main-swiper {
  .swiper-pagination {
    top: 50%;
    transform: translateY(-50%);
  }
}

.swiper-button {
  background-color: var(--lblue);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
  transition: background-color .3s;

  svg {
    display: block;
    width: 1.8rem;
    height: 1.8rem;
    stroke: var(--black);
    transition: stroke .3s;
  }
}

.swiper-button-disabled {
  background-color: transparent;
  border: 0.1rem solid var(--lblue);

  svg {
    stroke: var(--lblue);
  }
}

.blur-background {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    width: 23.8rem;
    height: 23.2rem;
    left: 2rem;
    top: 1rem;
    border-radius: 100%;

    background: var(--lblue);
    filter: blur(7.5rem);
    transform: rotate(15deg);
    z-index: 1;
    @include breakpoint($sm-bp) {
      width: 12.6rem;
      height: 12.6rem;
      left: 3.2rem;
      top: 24.9rem;
      filter: blur(4.5rem);
      transform: rotate(15deg);
    }

  }

  &::after {
    content: '';
    position: absolute;
    width: 40rem;
    height: 40rem;
    left: 6rem;
    top: 18rem;
    border-radius: 100%;
    background: var(--blue);
    filter: blur(7.5rem);
    z-index: 1;
    @include breakpoint($xl-bp) {
      width: 32.1rem;
      height: 32.6rem;
      left: -2rem;
      top: 28.5rem;
    }
  }
  img {
    position: relative;
    z-index: 2;
  }
}

.service-item {
  background: rgba(255, 255, 255, 0.25);
  position: relative;
  transition: height .3s, background-color .3s;
  height: 31rem;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 2.5rem;
    border: 0.1rem solid transparent;
    background: linear-gradient(286.9deg, #00AEDA 0.63%, rgba(0, 174, 218, 0) 100%) border-box, linear-gradient(107.11deg, #FFFFFF 0.29%, rgba(255, 255, 255, 0) 97.2%) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }
  &:hover {
    background-color: var(--white);
    height: 29.5rem;
    min-height: 29.5rem;
    @include breakpoint($xl-bp) {
      height: auto;
      min-height: auto;
    }
  }
}

.service-item--white {
  background-color: var(--white);
  min-height: 29.5rem;
  height: min-content;
}

.ficha-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 13rem 20rem 15rem 13rem;
  column-gap: 3.9rem;
  row-gap: 2.9rem;
  @include breakpoint($xl-bp) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
  @include breakpoint($sm-bp) {
    grid-template-columns: repeat(1, 1fr);
    gap: 2.4rem;
    grid-template-rows: auto;
  }
}

.ficha-list__item {
  background-color: var(--white);
  border-radius: 2.5rem;
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 2rem;
  padding: 3rem;
  padding-bottom: 3.6rem;
  @include breakpoint($xl-bp) {
    padding: 2.4rem;
    border-radius: 1.5rem;
  }
}
.ficha-list__item--round {
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(0.5rem);
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 36rem;
  height: 36rem;
  grid-row: 2 span;
  z-index: 3;
  @include breakpoint($sm-bp) {
    width: 100%;
    height: 32.7rem;
    gap: 1.6rem;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 100%;
    border: 0.1rem solid transparent;
    background: linear-gradient(286.9deg, #00AEDA 0.63%, rgba(0, 174, 218, 0) 100%) border-box, linear-gradient(107.11deg, #FFFFFF 0.29%, rgba(255, 255, 255, 0) 97.2%) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }
}
.ficha-list__item--col {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  flex-direction: column;
  text-align: center;
  padding: 0;
  padding-top: 3rem;
  @include breakpoint($sm-bp) {
    gap: 1.6rem;
  }
}
.ficha-list__item--col-wide {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  flex-direction: column;
  text-align: center;
  padding: 0;
  padding-top: 3rem;
  @apply row-span-3 relative pb-[31.5rem];
  margin-top: 1rem;
  z-index: 1;
  position: relative;
  @include breakpoint($xl-bp) {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
  @include breakpoint($sm-bp) {
    grid-row: 5 / 6;
    margin-top: 0;
    overflow: hidden;
    padding-bottom: 24.5rem;
    gap: 1.6rem;
  }
}

.ficha-list__item--col-last {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  flex-direction: column;
  text-align: center;
  padding: 3rem;
  padding-top: 4.6rem;
  padding-bottom: 2rem;
  grid-row: 2 span;
  margin-top: 1rem;
  @include breakpoint($sm-bp) {
    margin-top: 0;
    padding: 2.4rem;

  }
}
.ficha-list__title {
  padding-top: 0.6rem;
  @include breakpoint($xl-bp) {
    padding-top: 0;
  }
}

.cross {
  position: relative;
  height: 36rem;
  grid-row: 2 span;
  z-index: 1;
  @include breakpoint($sm-bp) {
    height: 33rem;
  }
}
.cross-c {
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(0.5rem);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12rem;
  height: 12rem;
  @include breakpoint($sm-bp) {
    width: 11rem;
    height: 11rem;
  }
}
.cross-t, .cross-b {
  position: absolute;
  left: 50%;
  width: 12rem;
  height: 12rem;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(0.5rem);
  @include breakpoint($sm-bp) {
    width: 11rem;
    height: 11rem;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }
}

.cross-t {
  top: calc(50% - 12rem);
  border-top-right-radius: 2.5rem;
  border-top-left-radius: 2.5rem;
  @include breakpoint($sm-bp) {
    top: calc(50% - 11rem);
  }
  &::before {
    border-top-right-radius: 2.5rem;
    border-top-left-radius: 2.5rem;
    border: 0.1rem solid transparent;
    border-bottom: 0;
    background: linear-gradient(286.9deg, #00AEDA 0.63%, rgba(0, 174, 218, 0) 100%) border-box, linear-gradient(107.11deg, #d8f7fe 0.29%, rgba(255, 255, 255, 0) 97.2%) border-box;
  }
}
.cross-b {
  top: calc(50% + 12rem);
  border-bottom-right-radius: 2.5rem;
  border-bottom-left-radius: 2.5rem;
  @include breakpoint($sm-bp) {
    top: calc(50% + 11rem);
  }
  &::before {
    border-bottom-right-radius: 2.5rem;
    border-bottom-left-radius: 2.5rem;
    border: 0.1rem solid transparent;
    border-top: 0;
    background: linear-gradient(286.9deg, #00AEDA 0.63%, rgba(0, 174, 218, 0) 100%) border-box, linear-gradient(107.11deg, #d8f7fe 0.29%, rgba(255, 255, 255, 0) 97.2%) border-box;
  }
}

.cross-l, .cross-r {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 12rem;
  height: 12rem;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(0.5rem);
  @include breakpoint($sm-bp) {
    width: 11rem;
    height: 11rem;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }
}
.cross-l {
  left: calc(50% - 12rem);
  border-top-left-radius: 2.5rem;
  border-bottom-left-radius: 2.5rem;
  @include breakpoint($sm-bp) {
    left: calc(50% - 11rem);
  }
  &::before {
    border-top-left-radius: 2.5rem;
    border-bottom-left-radius: 2.5rem;
    border: 0.1rem solid transparent;
    border-right: 0;
    background:linear-gradient(107.11deg, #FFFFFF 0.29%, rgba(255, 255, 255, 0) 97.2%) border-box, linear-gradient(286.9deg, #5fd9f5 0.63%, rgba(0, 174, 218, 0) 100%) border-box;
  }
}
.cross-r {
  left: calc(50% + 12rem);
  border-top-right-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
  @include breakpoint($sm-bp) {
    left: calc(50% + 11rem);
  }
  &::before {
    border-top-right-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    border: 0.1rem solid transparent;
    border-left: 0;
    background: #00AEDA;
  }
}

.cross-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.2rem;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  width: 24.6rem;
  @include breakpoint($sm-bp) {
    top: 49%;
    gap: 1.6rem;
  }
}


.ourComand-swiper {
  @include breakpoint($xl-bp) {
    padding-bottom: 4.3rem;
  }
  .swiper-slide {
    width: 36rem;
    margin-right: 4rem;
    @include breakpoint($xl-bp) {
      width: 32.5rem;
    }
    @include breakpoint($sm-bp) {
      width: 100%;
      margin-right: 2.5rem;
    }
  }
  .swiper-pagination {
    display: none;
    @include breakpoint($xl-bp) {
      display: unset;
    }
  }
  .swiper-pagination-bullet {
    border: 1px solid var(--lblue);
    background-color: transparent;
    opacity: 1;
    width: 1.2rem;
    height: 1.2rem;
    transition: all .3s;
  }
  .swiper-pagination-bullet-active {
    background-color: var(--lblue);
  }
}

.blur-slide {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 19.5rem;
    height: 19.2rem;
    left: 0.3rem;
    top: 15.6rem;
    
    background: var(--lblue);
    filter: blur(7.5rem);
    transform: rotate(15deg);
  }
  &::after {
    content: '';
    position: absolute;
    width: 33.3rem;
    height: 33.7rem;
    left: 13.1rem;
    top: 29.4rem;
    
    background: var(--blue);
    filter: blur(7.5rem);
  }
}

.comments-swiper {
  overflow: hidden;
  @include breakpoint($xl-bp) {
    padding-bottom: 4.3rem;
  }
  .swiper-slide {
    width: 36rem;
    // margin-right: 4rem;
  }
  .swiper-pagination {
    display: none;
    @include breakpoint($xl-bp) {
      display: unset;
    }
  }
  .swiper-pagination-bullet {
    border: 1px solid var(--lblue);
    background-color: transparent;
    opacity: 1;
    width: 1.2rem;
    height: 1.2rem;
    transition: all .3s;
  }
  .swiper-pagination-bullet-active {
    background-color: var(--lblue);
  }
}

.map-shadow {
  filter: drop-shadow(0.4rem 0.4rem 2.4rem rgba(0, 94, 154, 0.22));
}

.store {
  @include breakpoint($sm-bp) {
    li {
      display: none;
      &:first-child {
        display: block;
      }
    }
  }
}

.services-swiper {
  .swiper-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    @include breakpoint($xl-bp) {
      display: flex;
      gap: 0;
    }
  }
  .swiper-slide {
    @include breakpoint($xl-bp) {
      width: 100%;
      height: min-content;
    }
  }
  .swiper-pagination-bullet {
    border: 1px solid #005E9A;
    background-color: transparent;
    opacity: 1;
    width: 1.2rem;
    height: 1.2rem;
    transition: all .3s;
  }
  .swiper-pagination-bullet-active {
    background-color: #005E9A;
  }
}

.ball-1 {
  @apply absolute xl:hidden top-40 left-[26rem] z-[-1] w-[41.4rem] h-[31.2rem] rounded-full custom-blur rotate-[10.5deg] bg-lblue;
}

.ball-2 {
  @apply absolute top-40 right-10 z-[-1] w-[44rem] xl:w-[21.1rem] h-[41.6rem] xl:h-[15.9rem] rounded-full custom-blur bg-blue xl:bg-lblue opacity-70 xl:opacity-100;
  @include breakpoint($xl-bp) {
    top: 15rem;
    left: 2rem;
    filter: blur(5rem);
  }
}

.ball-3 {
  @apply absolute top-[27rem] left-[25rem] z-[-1] w-[49.5rem] xl:w-[28rem] h-[46.8rem] xl:h-[26.5rem] rounded-full custom-blur bg-blue opacity-70;
  @include breakpoint($xl-bp) {
    right: -2rem;
    left: auto;
    top: 23rem;
    filter: blur(5rem);
  }
}

.pplus {
  @include breakpoint($xl-bp) {
    p + p {
      margin-top: 1rem;
    }
  }
}

.wave {
  @apply absolute left-0 bottom-[-9.1rem] h-[56.7rem] w-full;
  @include breakpoint($xl-bp) {
    &::before {
      content: '';
      width: 100%;
      height: 20rem;
      background-color: var(--dblue);
      bottom: 5rem;
      left: 0;
      position: absolute;
    }
  }
}

.iframe-fancybox {
  height: 100%!important;
  padding: 0;
}