.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  z-index: 100000000000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s opacity;
  will-change: opacity;
  .spin {
    transform: scale(3);
  }
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 8rem;
  height: 8rem;
  @include breakpoint($sm-bp) {
    width: 5rem;
    height: 5rem;
  }
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0.2rem solid var(--blue);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--blue) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
  z-index: 1;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
  z-index: 1;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
  z-index: 1;
}
.lds-ring .logo {
  animation: none;
  border-color: none;
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
  }
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.menu {
  display: flex;
  gap: 6rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-right: 2.7rem;
  @include breakpoint($xl-bp) {
    height: calc(100% - 8rem);
    overflow: auto;
    position: absolute;
    top: 8rem;
    right: 0;
    z-index: 3;
    transform: translateX(100%);
    width: 100%;
    background-color: var(--white);
    transition: transform .5s ease;
    padding: 2.4rem 2rem;
    flex-direction: column;
    align-items: flex-start;
  }
  @include breakpoint($sm-bp) {
    height: calc(100% - 7rem);
    top: 7rem;
    padding: 2rem;
  }
  .menu__right-block {
    display: flex;
    gap: 6rem;
    align-items: center;
    @include breakpoint($xl-bp) {
      flex-direction: column;
      align-items: flex-start;
      padding: 2rem;
      gap: 4rem;
    }
    @include breakpoint($sm-bp) {
      padding: 0;
      padding-top: 4rem;
      gap: 2rem;
      width: 100%;
    }
  }
}

.menu--open {
  transform: translateX(0);
}

// .menu-button {
//   width: 30px;
//   height: 30px;

//   background-color: red;

//   position: absolute;

//   right: 0;
//   top: 0;

//   z-index: 3;
// }

.menu-button {
  width: 4rem;
  height: 3.4rem;
  background-color: transparent;
  border: 0;

  z-index: 4;
  display: none;
  position: relative;
  @include breakpoint($xl-bp) {
    margin-top: 1.6rem;
    align-self: flex-start;
  }
  .burger-button-close {
    #first-line-burger,
    #second-line-burger,
    #third-line-burger {
        width: 100%;
        height: 0.2rem;
        border-radius: 0.2rem;
        background-color: black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        transform-origin: center center;
        transition: transform 0.4s ease, opacity 0.4s ease;
    }

    #first-line-burger {
        top: 0%;
    }
    #second-line-burger {
      top: 46%;
    }
    #third-line-burger {
        top: unset;
        bottom: 0%;
    }
  }
  @include breakpoint($xl-bp) {
    display: block;
    margin-left: 3rem;
  }
  @include breakpoint($sm-bp) {
    margin-left: 0;
    width: 2.4rem;
    height: 1.6rem;
  }
}

.header__menu-button--active,
.menu-button--active {
  .burger-button-close {
    #first-line-burger {
      top: 50%;
      transform: translateX(-50%) rotate(45deg);
    }
    #second-line-burger {
      transform: translateX(100%);
      opacity: 0;
    }
    #third-line-burger {
      top: 50%;
      bottom: 0;
      transform: translateX(-50%) rotate(-45deg);
    }
  }
}


.menu-button--active {

}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}