.breadcrumbs {
  margin-top: 1.6rem;
  @include breakpoint($sm-bp) {
    margin-top: 0.8rem;
  }
  ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    li {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 110%;
      /* or 15px */
      
      
      color: rgba(255, 255, 255, 0.6);
      @include breakpoint($sm-bp) {
        line-height: 140%;
      }
      &::after {
        content: '';
        width: 2rem;
        height: 1.2rem;
        position: static;
        display: inline-block;
        background-size: 0.4rem;
        background-position: 50% 60%;
        background-image: url("data:image/svg+xml,%3Csvg width='4' height='5' viewBox='0 0 4 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='2' cy='2.5' r='2' fill='white' fill-opacity='0.6'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        @include breakpoint($xl-bp) {
          height: 1rem;
        }
      }
      &:last-child {
        &::after {
          content: unset;
        }
      }
      &:last-child {
        color: var(--white);
      }
      &:nth-child(3) {
        @include breakpoint($sm-bp) {
          width: 100%;
        }
      }
    }
  }
}


.services-balls {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 44rem;
    height: 41.6rem;
    right: 36rem;
    top: 6.1rem;
    
    border-radius: 100%;

    background: #26FFE6;
    filter: blur(7.5rem);
    z-index: -1;
    opacity: 0.7rem;
    @include breakpoint($xl-bp) {
      display: none;
    }
  }

  &::after {
    content: '';
    position: absolute;
    width: 54rem;
    height: 53rem;
    border-radius: 100%;
    left: 26.7rem;
    top: 18.2rem;

    background: #00AEDA;
    filter: blur(7.5rem);
    transform: rotate(15deg);
    z-index: -2;
    @include breakpoint($xl-bp) {
      display: none;
    }
  }
}

.services-balls-2 {
  position: relative;
  @include breakpoint($xl-bp) {
    overflow: hidden;
  }
  &::before {
    content: '';
    position: absolute;
    width: 44rem;
    height: 41.6rem;
    right: 3rem;
    top: 2rem;
    
    border-radius: 100%;

    background: #00AEDA;
    filter: blur(7.5rem);
    z-index: -1;
    opacity: 0.7rem;
    @include breakpoint($xl-bp) {
      width: 22.1rem;
      height: 21.8rem;
      left: 4.4rem;
      top: 34rem;
      
      transform: rotate(15deg);
    }
  }

  &::after {
    content: '';
    position: absolute;
    width: 39.9rem;
    height: 30rem;
    border-radius: 100%;
    left: 67.7rem;
    top: 16rem;

    background: #26FFE6;
    filter: blur(7.5rem);
    transform: rotate(-15deg);
    z-index: -2;
    @include breakpoint($xl-bp) {
      width: 25.4rem;
      height: 25.1rem;
      left: 19.2rem;
      top: 28.1rem;
      
      transform: rotate(15deg);
    }
  }
}

.services-balls-3 {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 44rem;
    height: 41.6rem;
    left: -4rem;
    top: -5rem;
    
    border-radius: 100%;

    background: #00AEDA;
    filter: blur(7.5rem);
    z-index: -1;
    opacity: 0.7rem;
    @include breakpoint($xl-bp) {
      display: none;
    }
  }
}

.service-snowflake {
  top: 0;
  right: 0;
  width: 65rem;
  height: 100%;
  @include breakpoint($xl-bp) {
    top: 9rem;
    width: 52rem;
    right: 10rem;
  }
  @include breakpoint($sm-bp) {
    top: 9rem;
    width: 52rem;
    right: -8rem;
  }
}

.img-cover {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.services-snowflake-2 {
  position: absolute;
  bottom: -7rem;
  left: 15rem;
  width: 45rem;
  height: 45rem;
  @include breakpoint($xl-bp) {
    display: none;
  }
}

.detail-block {
  p + p {
    margin-top: 2.5rem;
  }
  @include breakpoint($xl-bp) {
    p + p {
      margin-top: 1rem;
    }
  }
}

.custom-input {
  border-radius: 0.5rem;
  border: 0.1rem solid var(--white);
  background-color: var(--white);
  padding: 1.7rem 1.4rem 1.8rem;
  font-size: 1.4rem;
  line-height: 110%;
  color: var(--black);
  font-family: 'Inter';
  &::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 110%;
    /* or 15px */
    
    
    /* 1 */
    
    color: var(--black);
    
    opacity: 0.7;
    @include breakpoint($xl-bp) {
      color: var(--grey);
    }
  }
}

.custom-input-modal {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 145%;
  /* or 23px */
  
  
  /* Text/Grey */
  
  color: #575757;
  border: 0.1rem solid #C7C7C7;
  border-radius: 0.8rem;
  padding: 0.8rem 1.6rem;
  width: 100%;
  &::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 145%;
    /* or 20px */
    
    
    color: #C7C7C7;
  }
  &:focus {
    outline: none;
    border-color: #575757;
  }
}

.border-blue-gradient {
  background: rgba(255, 255, 255, 0.25);
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 2.5rem;
    border: 0.1rem solid transparent;
    background: -webkit-linear-gradient(286.9deg, #00AEDA 0.63%, rgba(0, 174, 218, 0) 100%) border-box, linear-gradient(107.11deg, #FFFFFF 0.29%, rgba(255, 255, 255, 0) 97.2%) border-box;
    background: linear-gradient(286.9deg, #00AEDA 0.63%, rgba(0, 174, 218, 0) 100%) border-box, linear-gradient(107.11deg, #FFFFFF 0.29%, rgba(255, 255, 255, 0) 97.2%) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }
}

.padding-button {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
  @include breakpoint($xl-bp) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.form-balls {
  position: relative;
  @include breakpoint($sm-bp) {
    overflow: hidden;
  }
  &::before {
    content: '';
    position: absolute;
    width: 61.3rem;
    height: 27.9rem;
    left: 6.7rem;
    top: 16rem;
    
    background: #00AEDA;
    filter: blur(7.5rem);
    transform: matrix(1, 0, 0, -1, 0, 0);
    z-index: -1;
    @include breakpoint($xl-bp) {
      width: 22.1rem;
      height: 7.9rem;
      left: -9rem;
      top: 28rem;
      
      filter: blur(4rem);
    }
  }
  &::after {
    content: '';
    position: absolute;
    width: 27.3rem;
    height: 28rem;
    right: 17.1rem;
    top: 8rem;
    
    background: #26FFE6;
    filter: blur(7.5rem);
    transform: matrix(1, 0, 0, -1, 0, 0);
    z-index: -1;
    @include breakpoint($sm-bp) {
      width: 14.5rem;
      height: 15rem;
      right: -1rem;
      top: 12rem;
      
      filter: blur(5rem);
    }
  }
}

.custom-detail-block {
  position: relative;
  &::before {
    content: '';
    height: 48rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--dblue);
    @include breakpoint($xl-bp) {
      height: 22rem;
    }
  }
}
.custom-detail-block-2 {
  position: relative;
  &::before {
    content: '';
    height: 19rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--dblue);
    @include breakpoint($xl-bp) {
      height: 22rem;
    }
  }
}

.custom-detail-block-3 {
  position: relative;
  &::before {
    content: '';
    height: 35rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--dblue);
    @include breakpoint($xl-bp) {
      height: 22rem;
    }
  }
}

.about-swiper {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  @include breakpoint($xl-bp) {
    padding-bottom: 4rem;
  }
  .swiper-slide {
    height: min-content;
    width: 100%;
  }
  .swiper-pagination {
    display: none;
    @include breakpoint($xl-bp) {
      display: unset;
    }
  }
  .swiper-pagination-bullet {
    border: 1px solid var(--dblue);
    background-color: transparent;
    opacity: 1;
    width: 1.2rem;
    height: 1.2rem;
    transition: all .3s;
  }
  .swiper-pagination-bullet-active {
    background-color: var(--dblue);
  }
}

.licence-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
  @include breakpoint($xl-bp) {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
}
.licence-item {
  padding: 2.4rem;
  height: 38.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("data:image/svg+xml,%3Csvg width='260' height='386' viewBox='0 0 260 386' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.6667 0C9.75 0 0 9.73125 0 21.625V364.375C0 376.269 9.75 386 21.6667 386H238.333C250.25 386 260 376.269 260 364.375V86.5L173.333 0H21.6667Z' fill='white'/%3E%3Cpath d='M195 86.5H260L173.333 0V64.875C173.333 76.7688 183.083 86.5 195 86.5Z' fill='black' fill-opacity='0.08'/%3E%3C/svg%3E%0A");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  max-width: 26rem;
  @include breakpoint($sm-bp) {
    padding: 1.6rem;
    background-image: url("data:image/svg+xml,%3Csvg width='156' height='270' viewBox='0 0 156 270' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.9167 0C5.8125 0 0 6.80683 0 15.1263V254.874C0 263.193 5.8125 270 12.9167 270H143.083C150.188 270 156 263.193 156 254.874V47.093L103.333 0H12.9167Z' fill='white'/%3E%3Cpath d='M116.25 49.3922L156 46.9999L103.333 0.15332V36.4999C103.333 43.5907 109.146 49.3922 116.25 49.3922Z' fill='black' fill-opacity='0.08'/%3E%3C/svg%3E%0A");
    height: 27rem;
  }
}
.licence-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 110%;
  /* or 26px */
  
  color: #005E9A;
  @include breakpoint($sm-bp) {
    font-size: 1.8rem;
    line-height: 120%;
    font-family: 'Inter';
  }
}

.about-snowflake {
  top: -4rem;
  width: 65rem;
  right: 21rem;
  height: 65rem;
  @include breakpoint($xl-bp) {
    top: 9rem;
    width: 39rem;
    right: 18rem;
  }
  @include breakpoint($sm-bp) {
    top: 9rem;
    width: 39rem;
    right: -2rem;
  }
}

.lab-snowflake {
  top: 4rem;
  width: 65rem;
  right: 18rem;
  height: 52.6rem;
  @include breakpoint($xl-bp) {
    top: 9rem;
    width: 39rem;
    right: 18rem;
  }
  @include breakpoint($sm-bp) {
    top: 16rem;
    width: 39rem;
    right: -3rem;
  }
}

.licence-ball {
  position: relative;
  @include breakpoint($xl-bp) {
    overflow: hidden;
  }
  &::before {
    content: '';
    position: absolute;
    width: 44rem;
    height: 41.6rem;
    left: 5rem;
    top: 3rem;
    
    background: #00AEDA;
    opacity: 0.7;
    filter: blur(7.5rem);
    transform: rotate(-30deg);
    z-index: -1;
    border-radius: 100%;
    @include breakpoint($xl-bp) {
      width: 39.3rem;
      height: 37.1rem;
      left: -15rem;
      top: 15rem;
    }
  }
}

.filter-list {
  display: flex;
  gap: 1.2rem;
  overflow: scroll;
  @include breakpoint($sm-bp) {
    gap: 0.8rem;
  }
}
.filter-item {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 110%;
  /* identical to box height, or 20px */
  
  
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2.2rem 2.8rem;
    
  border: 0.1rem solid rgba(255, 255, 255, 0.8);
  border-radius: 500rem;
  @include breakpoint($xl-bp) {
    &:first-child {
      margin-left: 2.5rem;
    }
    padding: 2rem 2.4rem;
    font-size: 1.6rem;
    line-height: 140%;
  }
}
.filter-item.filter-item--active {
  background-color: var(--lblue);
  color: var(--black);
  border-color: var(--lblue);
}

.doctors-blur {
  &::before {
    content: '';
    position: absolute;
    width: 44rem;
    height: 41.6rem;
    left: 80rem;
    top: 39.1rem;
    
    background: #26FFE6;
    opacity: 0.7;
    filter: blur(7.5rem);
    z-index: -1;
    @include breakpoint($xl-bp) {
      display: none;
    }
  }
  &::after {
    content: '';
    position: absolute;
    width: 52.1rem;
    height: 49.2rem;
    left: 16rem;
    top: 56.1rem;
    
    background: #00AEDA;
    opacity: 0.7;
    filter: blur(7.5rem);
    z-index: -1;
    @include breakpoint($xl-bp) {
      display: none;
    }
  }
}

.doctor-block {
  @apply grid grid-cols-[46rem_1fr] xl:grid-cols-1 gap-40 xl:gap-16;
  grid-template-rows: 56.7rem 19.4rem;
  @include breakpoint($xl-bp) {
    grid-template-rows: auto;
  }
}

.teeth-block {
  @apply grid grid-cols-[49.6rem_1fr] gap-40;
  @include breakpoint($xl-bp) {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

.example-image {
  position: relative;
  height: 31.9rem;
  @include breakpoint($sm-bp) {
    height: 18.5rem;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  img {
    &:first-child {
      clip-path: inset(0 50% 0 0);
    }
    &:last-child {
      clip-path: inset(0 0 0 50%);
    }
  }
}

.separator {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 3.2rem;
  z-index: 1;
  transform: translateX(-50%);
  will-change: transform;
  &::before {
    content: '';
    height: 100%;
    width: 0.5rem;
    transform: translateX(-50%);
    background-color: var(--white);
    position: absolute;
    left: 50%;
    top: 0;
  }
  &::after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='16' cy='16' r='16' fill='white'/%3E%3Cpath d='M12 20L8 16L12 12' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M20 20L24 16L20 12' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    width: 3.2rem;
    height: 3.2rem;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    @include breakpoint($xl-bp) {
      content: unset;
    }
  }
}

.custom-list {
  li {
    padding-left: 2.5rem;
    position: relative;
    @include breakpoint($xl-bp) {
      padding-left: 2rem;
    }
    &::before {
      content: '\2022';
      color: var(--grey);
      position: absolute;
      top: 0;
      left: 0.7rem;
    }
  }
}

.example-swiper {
    @include breakpoint($xl-bp) {
    padding-bottom: 4rem;
  }
    .swiper-pagination {
    display: none;
    @include breakpoint($xl-bp) {
      display: unset;
    }
  }
  .swiper-pagination-bullet {
    border: 1px solid var(--lblue);
    background-color: transparent;
    opacity: 1;
    width: 1.2rem;
    height: 1.2rem;
    transition: all .3s;
  }
  .swiper-pagination-bullet-active {
    background-color: var(--lblue);
  }
}

.blur-example {
  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(0.8rem);
    transition: opacity .3s;
    @include breakpoint($xl-bp) {
      content: unset;
    }
  }
  &::after {
    content: 'Наведите для просмотра';
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 110%;
    /* or 20px */
    
    text-align: center;
    
    color: var(--lblue);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    z-index: 3;
    border: 0.1rem solid var(--lblue);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .3s;
    @include breakpoint($xl-bp) {
      content: unset;
    }
  }
  &:hover {
    &::before {
      opacity: 0;
      pointer-events: none;
    }
    &::after {
      opacity: 0;
      pointer-events: none;
    }
  }
}

.doctor-blur-ball {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 30rem;
    height: 31.6rem;
    right: 10rem;
    top: 15rem;
    border-radius: 50%;
    
    background: #00AEDA;
    opacity: 0.7;
    filter: blur(7.5rem);
    transform: rotate(-30deg);
    z-index: -1;
    @include breakpoint($xl-bp) {
      top: calc(50% - 10rem);
      right: -5rem;
    }
  }
}

.serv-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  @include breakpoint($xl-bp) {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.6rem;
  }
}

.serv-item {

}

.readmore-button {
  border: 0;
  background-color: unset;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 110%;
  /* identical to box height, or 20px */
  
  
  color: #00AEDA;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  text-align: start;
  @include breakpoint($xl-bp) {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    font-size: 1.6rem;
    line-height: 140%;
    font-weight: 500;
  }
}

.pagination {
  display: flex;
  gap: 1.6rem;
}

.pagination-btn {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 140%;
  /* or 22px */
  
  
  color: var(--lblue);
  border: 0.1rem solid var(--lblue);
  position: relative;
  overflow: hidden;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

  }
}

.pagination-num--active {
  color: var(--black);
  background-color: var(--lblue);
}

.pagination-prev,.pagination-next {
  background-color: var(--lblue);
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    stroke: var(--black);
    width: 1.7rem;
    height: 1.8rem;
  }
}

.pagination-numbers {
  display: flex;
  gap: 0.8rem;
}

.pagination-prev.pagination-disabled,.pagination-next.pagination-disabled {
  background-color: transparent;
  svg {
    stroke: var(--lblue);
  }
}
.pagination-next {
  svg {
    transform: translate(-50%, -50%) rotate(180deg);
  }
}

.serv-ball {
  position: relative;
  @include breakpoint($xl-bp) {
    overflow: hidden;
  }
  &::before {
    content: '';
    position: absolute;
    width: 44rem;
    height: 41.6rem;
    right: 36rem;
    top: 10rem;
    border-radius: 100%;
    z-index: -1;
    
    background: #26FFE6;
    opacity: 0.7;
    filter: blur(7.5rem);
    @include breakpoint($xl-bp) {
      width: 36.2rem;
      height: 27.3rem;
      left: 3.6rem;
      top: 35rem;
      opacity: 1;
    } 
  }
}

.hoverGray {
  &:hover {
    opacity: .8;
  }
}

.readmore-button + .hiddenModal {
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s;
}

.readmore-button.active + .hiddenModal {
  opacity: 1;
  pointer-events: all;
}

.serv-close {
  @apply absolute top-0 -right-56;

  @include breakpoint($xl-bp) {
    top: -5.6rem;
    right: 0;
  }
}

.contacts-balls {
  @include breakpoint($xl-bp) {
    overflow: hidden;
    position: relative;
  }
  &::before {
    content: '';
    position: absolute;
    width: 44rem;
    height: 41.6rem;
    right: 10rem;
    top: 30rem;
    
    background: #00AEDA;
    opacity: 0.7;
    filter: blur(7.5rem);
    transform: rotate(-11.25deg);
    z-index: -1;
    border-radius: 50%;
    @include breakpoint($xl-bp) {
      width: 36rem;
      height: 34.1rem;
      left: -9.3rem;
      top: 56.1rem;
      
      opacity: 0.7;
      filter: blur(5.5rem);
      transform: rotate(-11.25deg);
    }
  }
  &::after {
    content: '';
    position: absolute;
    width: 39.9rem;
    height: 30rem;
    left: 13.1rem;
    top: 38.2rem;
    
    background: #26FFE6;
    filter: blur(7.5rem);
    transform: rotate(3.75deg);
    z-index: -1;
    border-radius: 50%;
    @include breakpoint($xl-bp) {
      position: absolute;
      width: 22.5rem;
      height: 17rem;
      left: 20rem;
      top: 30rem;
      
      filter: blur(6.5rem);
      transform: rotate(3.75deg);
    }
  }
}

.events-balls {
  overflow: hidden;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 44rem;
    height: 41.6rem;
    right: 36rem;
    top: 38.4rem;
    
    background: #26FFE6;
    opacity: 0.7;
    border-radius: 50%;
    filter: blur(7.5rem);
    @include breakpoint($xl-bp) {
      position: absolute;
      width: 36.2rem;
      height: 27.3rem;
      left: 3.6rem;
      top: 39.8rem;
      
      background: #26FFE6;
      transform: rotate(3.75deg);
      opacity: 1;
    }
  }
}

.regModal {
  transition: opacity .3s;
}

.select {
  position: relative;
  input {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.select-button {
  border: 0.1rem solid #D4D4D4;
  border-radius: 0.8rem;
  padding: 1.2rem 1.6rem;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 145%;
  /* or 20px */
  
  
  /* Text/Grey */
  
  color: #575757;
  width: 100%;
  text-align: start;
  padding-right: 4.5rem;
  position: relative;
  background-color: var(--white);
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1.6rem;
    width: 2.4rem;
    height: 2.4rem;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 9L12 15L18 9' stroke='%23575757' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-size: contain;
    background-position: center;
    transition: transform .1s;
  }
}
.select-button.active {
  border-bottom-color: transparent;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  font-weight: 600;
  &::after {
    transform: translateY(-50%) rotate(180deg);
  }
}

.select-button + .select-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: min-content;
  padding: 1.6rem;
  padding-top: 0;
  border: 0.1rem solid #D4D4D4;
  border-top: 0;
  border-radius: 0.8rem;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  background-color: var(--white);
  display: flex;
  opacity: 0;
  flex-direction: column;
  gap: 1.4rem;
  pointer-events: none;
}

.select-button.active + .select-list {
  opacity: 1;
  pointer-events: all;
}

.custom-checkbox {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 145%;
  /* or 20px */
  
  
  color: #575757;
  display: flex;
  gap: 1rem;
  flex-direction: row-reverse;
  justify-content: start;
  cursor: pointer;
  &:hover {
    .checkmark {
      border-color:  #00AEDA;
    }
  }
}
.checkmark {
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  
  border-radius: 0.4rem;
  border: 0.1rem solid #575757;
  transition: background-color .1s;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 1.6rem;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.3334 4L6.00008 11.3333L2.66675 8' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
  }
}
input:checked + .checkmark {
  background-color: #00AEDA;
  border-color: #00AEDA;
}

/* Reveal effect for lazyloaded imgs */
.lazyload,
.lazyloading {
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
}

.hoverScale {
  transition: opacity .3s;
  &:hover {
    opacity: 0.8;
  }
}