<div class="regModal flex items-center justify-center fixed top-0 left-0 h-full z-10 container bg-backdore xl:py-90 opacity-0" id="feedback" hidden>
  <div class="relative flex items-center justify-center h-min">
    <button class="close-button w-40 h-40 bg-white hoverGray rounded-full serv-close">
      <svg class="w-40 h-40 stroke-black"><use href='#closeIcon'></use></svg>
    </button>
    <div class="rounded-25 bg-white p-32 xl:px-24 xl:py-32 w-[29.6rem] sm:w-full">
      <h2 class="text-24 leading-120% font-semibold text-center text-dblue">Благодарим за обращение!</h2>

      <div class="text-16 leading-140% text-black opacity-70 text-center mt-12">
        Мы свяжемся с вами<br> в ближайшее время
      </div>
      
    </div>
  </div>
</div>