<footer class="footer container bg-black">

    <div class="footer__top">
      <div>
        <a href="#" class="block">
          <svg class="w-180 xl:w-171 h-49 xl:h-48"><use href='#logoIcon'></use></svg>
        </a>
    
        <div class="flex flex-col gap-7 text-16 leading-130% text-white opacity-80 roboto mt-32 xl:mt-28">
          <div>Пн-Сб: 9:00-21:00</div>
          <div>Вс: 9:00-15:00</div>
        </div>
      </div>
  
      <ul class="space-y-20 xl:space-y-24 text-24 leading-130% xl:leading-110% font-semibold montserat text-white xl:pt-5">
        <li>г. Краснодар,<br> ул. Старокубанская, 124</li>
        <li><a href="tel:+88619921111">8 861 992-11-11</a></li>
        <li><a href="mailto:example@mail.ru">example@mail.ru</a></li>
      </ul>
  
      <ul class="space-y-11 xl:space-y-20 text-16 xl:text-18 leading-19 xl:leading-22 text-white opacity-80 xl:pt-10">
        <li><h3 class="text-20 sm:text-18 leading-24 sm:leading-120% font-semibold text-white">Услуги</h3></li>
        <li>
          <ul class="space-y-12">
            <li><a class="hv-undrl hv-undrl--white" href="#">Имплантация</a></li>
            <li><a class="hv-undrl hv-undrl--white" href="#">Ортопедия</a></li>
            <li><a class="hv-undrl hv-undrl--white" href="#">Хирургия</a></li>
            <li><a class="hv-undrl hv-undrl--white" href="#">Терапевтия</a></li>
            <li><a class="hv-undrl hv-undrl--white" href="#">Ортодонтия</a></li>
          </ul>
        </li>
      </ul>

      <ul class="space-y-11 xl:space-y-20 text-16 xl:text-18 leading-19 xl:leading-22 text-white opacity-80">
        <li><h3 class="text-20 sm:text-18 leading-24 sm:leading-120% font-semibold text-white">Информация</h3></li>
        <li>
          <ul class="space-y-12">
            <li><a class="hv-undrl hv-undrl--white" href="#">О клинике</a></li>
            <li><a class="hv-undrl hv-undrl--white" href="#">Акции</a></li>
            <li><a class="hv-undrl hv-undrl--white" href="#">Врачи</a></li>
            <li><a class="hv-undrl hv-undrl--white" href="#">Выполненные работы</a></li>
            <li><a class="hv-undrl hv-undrl--white" href="#">Лаборатория</a></li>
            <li><a class="hv-undrl hv-undrl--white" href="#">Контакты</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="footer__bot">
      <div>© 2023. Адрес Здоровья. Все права защищены</div>
      <div class="underline xl:-order-1">Политика конфиденциальности</div>
      <div class="flex gap-8 justify-self-end items-center">
        <div>Сайт разработан</div>
        <div class="relative top-[-0.4rem]"><svg class="w-24 h-24"><use href='#createrIcon'></use></svg></div>
      </div>
    </div>

</footer>