<div class="regModal flex items-center justify-center fixed top-0 left-0 h-full z-10 container bg-backdore xl:py-90 opacity-0" id="res-modal" hidden>
  <div class="relative flex items-center justify-center h-min">
    <button class="close-button w-40 h-40 bg-white hoverGray rounded-full serv-close">
      <svg class="w-40 h-40 stroke-black"><use href='#closeIcon'></use></svg>
    </button>
    <div class="rounded-25 bg-white p-32 xl:px-24 xl:py-32 w-[36rem] sm:w-full">
      <h2 class="text-24 leading-120% font-semibold text-center text-dblue">Записаться на прием</h2>
      <form action="#" class="space-y-20 mt-20">
        <input type="text" class="custom-input-modal" placeholder="Иван" name="name">
        <input type="tel" class="custom-input-modal" placeholder="+7 (999) 999-99-99" name="name">

        <div class="select">
          <button type="button" class="select-button">Выберите услуги</button>

          <div class="select-list">
            <label class="custom-checkbox">Имплантация
              <input type="checkbox" name="Implantation">
              <span class="checkmark"></span>
            </label>

            <label class="custom-checkbox">Ортопедия
              <input type="checkbox" name="Orthopedics">
              <span class="checkmark"></span>
            </label>

            <label class="custom-checkbox">Хирургия
              <input type="checkbox" name="Surgery">
              <span class="checkmark"></span>
            </label>

            <label class="custom-checkbox">Терапевтия
              <input type="checkbox" name="Therapy">
              <span class="checkmark"></span>
            </label>

            <label class="custom-checkbox">Ортодонтия
              <input type="checkbox" name="Orthodontics">
              <span class="checkmark"></span>
            </label>

            <label class="custom-checkbox">Детская стоматология
              <input type="checkbox" name="ChildrenDentistry">
              <span class="checkmark"></span>
            </label>
          </div>
        </div>

        <button type="submit" class="page-button py-[1.45rem] w-full text-14 leading-110% font-medium text-black">Записаться на прием</button>
      </form>

      <div class="text-12 leading-[145%] text-lmodal text-center mt-12">
        Нажимая кнопку «Заказать звонок» я принимаю условия <a href="#" class="underline">политики конфиденциальности</a> и обработки данных
      </div>
      
    </div>
  </div>
</div>