<div class="ourComand">
  <div class="container flex justify-between items-center">
    <h2 class="text-45 xl:text-24 leading-110% font-semibold montserat text-white">Наша команда профессионалов</h2>

    <div class="flex sm:hidden gap-20 pr-20">
      <button class="swiper-button rotate-180 prev">
        <svg>
          <use href='#arrowIcon'></use>
        </svg>
      </button>
      <button class="swiper-button next">
        <svg>
          <use href='#arrowIcon'></use>
        </svg>
      </button>
    </div>
  </div>

  <div class="swiper ourComand-swiper mt-60 sm:mt-32 container">
    <div class="swiper-wrapper">
      <a href="#" class="swiper-slide rounded-25 bg-white pt-30 blur-slide overflow-hidden relative group">
        <span class="block text-24 xl:text-18 leading-120% font-semibold text-center px-32">Анастасия Константиновна</span>
        <span class="block text-14 xl:text-16 leading-140% Helvetica xl:inter text-center mt-12 sm:mt-8 opacity-70">Детский
          стоматолог</span>

        <span class="block mt-24 sm:mt-10 pl-23 xl:pl-0 pr-2 w-full h-[35.5rem] relative z-1">
          <img class="w-full h-full object-contain object-bottom" src="./assets/images/ourComand/ourComand-1.png"
            alt="ourComand">
        </span>

        <span
          class="w-full p-30 absolute bottom-0 left-0 opacity-0 group-hover:opacity-100 transition-opacity duration-300 z-1">
          <span class="page-button p-[1.75rem] text-14 leading-110% w-full">Подробнее о враче</span>
        </span>
      </a>
      <a href="#" class="swiper-slide rounded-25 bg-white pt-30 blur-slide overflow-hidden relative group">
        <span class="block text-24 xl:text-18 leading-120% font-semibold text-center px-32">Анастасия Константиновна</span>
        <span class="block text-14 xl:text-16 leading-140% Helvetica xl:inter text-center mt-12 sm:mt-8 opacity-70">Детский
          стоматолог</span>

        <span class="block mt-24 sm:mt-10 pl-23 xl:pl-0 pr-2 w-full h-[35.5rem] relative z-1">
          <img class="w-full h-full object-contain object-bottom" src="./assets/images/ourComand/ourComand-2.png"
            alt="ourComand">
        </span>

        <span
          class="w-full p-30 absolute bottom-0 left-0 opacity-0 group-hover:opacity-100 transition-opacity duration-300 z-1">
          <span class="page-button p-[1.75rem] text-14 leading-110% w-full">Подробнее о враче</span>
        </span>
      </a>
      <a href="#" class="swiper-slide rounded-25 bg-white pt-30 blur-slide overflow-hidden relative group">
        <span class="block text-24 xl:text-18 leading-120% font-semibold text-center px-32">Анастасия Константиновна</span>
        <span class="block text-14 xl:text-16 leading-140% Helvetica xl:inter text-center mt-12 sm:mt-8 opacity-70">Детский
          стоматолог</span>

        <span class="block mt-24 sm:mt-10 pl-23 xl:pl-0 pr-2 w-full h-[35.5rem] relative z-1">
          <img class="w-full h-full object-contain object-bottom" src="./assets/images/ourComand/ourComand-1.png"
            alt="ourComand">
        </span>

        <span
          class="w-full p-30 absolute bottom-0 left-0 opacity-0 group-hover:opacity-100 transition-opacity duration-300 z-1">
          <span class="page-button p-[1.75rem] text-14 leading-110% w-full">Подробнее о враче</span>
        </span>
      </a>
      <a href="#" class="swiper-slide rounded-25 bg-white pt-30 blur-slide overflow-hidden relative group">
        <span class="block text-24 xl:text-18 leading-120% font-semibold text-center px-32">Анастасия Константиновна</span>
        <span class="block text-14 xl:text-16 leading-140% Helvetica xl:inter text-center mt-12 sm:mt-8 opacity-70">Детский
          стоматолог</span>

        <span class="block mt-24 sm:mt-10 pl-23 xl:pl-0 pr-2 w-full h-[35.5rem] relative z-1">
          <img class="w-full h-full object-contain object-bottom" src="./assets/images/ourComand/ourComand-2.png"
            alt="ourComand">
        </span>

        <span
          class="w-full p-30 absolute bottom-0 left-0 opacity-0 group-hover:opacity-100 transition-opacity duration-300 z-1">
          <span class="page-button p-[1.75rem] text-14 leading-110% w-full">Подробнее о враче</span>
        </span>
      </a>
      <a href="#" class="swiper-slide rounded-25 bg-white pt-30 blur-slide overflow-hidden relative group">
        <span class="block text-24 xl:text-18 leading-120% font-semibold text-center px-32">Анастасия Константиновна</span>
        <span class="block text-14 xl:text-16 leading-140% Helvetica xl:inter text-center mt-12 sm:mt-8 opacity-70">Детский
          стоматолог</span>

        <span class="block mt-24 sm:mt-10 pl-23 xl:pl-0 pr-2 w-full h-[35.5rem] relative z-1">
          <img class="w-full h-full object-contain object-bottom" src="./assets/images/ourComand/ourComand-1.png"
            alt="ourComand">
        </span>

        <span
          class="w-full p-30 absolute bottom-0 left-0 opacity-0 group-hover:opacity-100 transition-opacity duration-300 z-1">
          <span class="page-button p-[1.75rem] text-14 leading-110% w-full">Подробнее о враче</span>
        </span>
      </a>
      <a href="#" class="swiper-slide rounded-25 bg-white pt-30 blur-slide overflow-hidden relative group">
        <span class="block text-24 xl:text-18 leading-120% font-semibold text-center px-32">Анастасия Константиновна</span>
        <span class="block text-14 xl:text-16 leading-140% Helvetica xl:inter text-center mt-12 sm:mt-8 opacity-70">Детский
          стоматолог</span>

        <span class="block mt-24 sm:mt-10 pl-23 xl:pl-0 pr-2 w-full h-[35.5rem] relative z-1">
          <img class="w-full h-full object-contain object-bottom" src="./assets/images/ourComand/ourComand-1.png"
            alt="ourComand">
        </span>

        <span
          class="w-full p-30 absolute bottom-0 left-0 opacity-0 group-hover:opacity-100 transition-opacity duration-300 z-1">
          <span class="page-button p-[1.75rem] text-14 leading-110% w-full">Подробнее о враче</span>
        </span>
      </a>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>