<section class="mt-120 xl:mt-80 relative z-[1]">
  <h2 class="text-45 xl:text-24 leading-110% text-dblue font-semiboldf montserat text-center max-w-[60rem] mx-auto">
    Преимущества лечения в нашей клинике</h2>

  <ul class="mt-60 sm:mt-32 ficha-list">
    <li class="ficha-list__item">
      <div class="w-43 h-43 sm:w-40 sm:h-40 rounded-full border-1 border-solid border-lblue flex items-center justify-center"><svg
          class="w-18 h-18 fill-lblue">
          <use href='#checkIcon'></use>
        </svg></div>
      <h3 class="ficha-list__title text-24 xl:text-18 leading-120% font-semibold">Индивидуальный подход</h3>
    </li>
    <li class="ficha-list__item">
      <div class="w-43 h-43 sm:w-40 sm:h-40 rounded-full border-1 border-solid border-lblue flex items-center justify-center"><svg
          class="w-18 h-18 fill-lblue">
          <use href='#checkIcon'></use>
        </svg></div>
      <h3 class="ficha-list__title text-24 xl:text-18 leading-120% font-semibold">Профилактические осмотры</h3>
    </li>
    <li class="cross">
      <div class="cross-c"></div>
      <div class="cross-t"></div>
      <div class="cross-b"></div>
      <div class="cross-l"></div>
      <div class="cross-r"></div>
      <div class="cross-text">
        <div class="w-43 h-43 sm:w-40 sm:h-40 rounded-full border-1 border-solid border-lblue flex items-center justify-center">
          <svg class="w-18 h-18 fill-lblue">
            <use href='#checkIcon'></use>
          </svg>
        </div>
        <h3 class="text-24 xl:text-18 leading-120% font-semibold sm:brnone">Рассрочка от<br> клиники и банка</h3>
      </div>
    </li>
    <li class="ficha-list__item ficha-list__item--round">
      <div class="w-43 h-43 sm:w-40 sm:h-40 rounded-full border-1 border-solid border-lblue flex items-center justify-center"><svg
          class="w-18 h-18 fill-lblue">
          <use href='#checkIcon'></use>
        </svg></div>
      <h3 class="ficha-list__title text-24 xl:text-18 leading-120% font-semibold sm:brnone">Расширенная<br> гарантия</h3>
      <div class="text-14 leading-140% Helvetica sm:inter sm:max-w-[24.8rem] sm:brnone">
        Гарантийный талон, который выдается <br>на руки пациенту, с описанием<br> выполненных манипуляций.
      </div>
    </li>
    <li class="ficha-list__item ficha-list__item--col-wide">
      <div class="w-43 h-43 sm:w-40 sm:h-40 rounded-full border-1 border-solid border-lblue flex items-center justify-center"><svg
          class="w-18 h-18 fill-lblue">
          <use href='#checkIcon'></use>
        </svg></div>
      <h3 class="text-24 xl:text-18 leading-120% font-semibold sm:brnone">Диагностика<br> заболеваний</h3>
      <div class="text-14 leading-140% Helvetica sm:inter xl:brnone">
        Раз в полгода все наши пациенты проходят <br>бесплатный профилактический осмотр, где им<br> продляется
        гарантия на оказанные услуги.
      </div>
      <div class="absolute bottom-0 sm:bottom-[-2.5rem] left-0 w-full h-[35.4rem] sm:h-[27.4rem]">
        <img class="w-full h-full object-contain object-bottom" src="./assets/images/ficha/ficha-1.png" alt="">
      </div>
    </li>

    <li class="ficha-list__item ficha-list__item--col-last">
      <div class="w-43 h-43 sm:w-40 sm:h-40 rounded-full border-1 border-solid border-lblue flex items-center justify-center"><svg
          class="w-18 h-18 fill-lblue">
          <use href='#checkIcon'></use>
        </svg></div>
      <h3 class="text-24 xl:text-18 leading-120% font-semibold">Прозрачность лечения</h3>
      <div class="text-14 leading-140% Helvetica sm:inter">
        Гарантийный талон, который выдается на руки пациенту, с описанием выполненных манипуляций и рекомендаций,
        ведение фотопротокола лечения, контрольные рентгенограммы после лечения.
      </div>
    </li>

    <li class="ficha-list__item">
      <div class="w-43 h-43 sm:w-40 sm:h-40 rounded-full border-1 border-solid border-lblue flex items-center justify-center"><svg
          class="w-18 h-18 fill-lblue">
          <use href='#checkIcon'></use>
        </svg></div>
      <h3 class="ficha-list__title text-24 xl:text-18 leading-120% font-semibold">Современное оборудование</h3>
    </li>
  </ul>


  <div
    class="absolute top-[25rem] sm:top-[49rem] right-[25rem] sm:right-[17rem] z-[-1] w-[22.4rem] h-[22.9rem] xl:h-[17.3rem] rounded-full custom-blur bg-lblue sm:bg-blue">
  </div>
  <div class="absolute top-[25rem] sm:top-[30rem] left-[25rem] sm:left-[15rem] z-[-1] w-[22.4rem] xl:w-[19rem] h-[22.9rem] xl:h-[19.3rem] rounded-full custom-blur bg-blue sm:bg-lblue">
  </div>

  <div
    class="absolute top-[51rem] sm:top-[130rem] left-[-6rem] z-[-1] w-[29.5rem] h-[22.2rem] rounded-full custom-blur sm:blur-[4.5rem] rotate-[-10.5deg] bg-lblue">
  </div>
  <div
    class="xl:hidden absolute top-[46rem] right-[-6rem] z-[-1] w-[29.5rem] h-[22.2rem] rounded-full custom-blur rotate-[-10.5deg] bg-blue">
  </div>

  <div class="xl:hidden absolute top-[32.5rem] right-145 w-[35rem] h-[33rem] img-contain"><img
      src="./assets/images/ficha/ficha-2.png" alt="main"></div>
  <div class="absolute top-185 sm:top-[105rem] left-135 sm:left-145 w-[35rem] sm:w-[26rem] h-[33rem] sm:h-[32rem] z-[2] sm:z-0 img-contain"><img
      src="./assets/images/ficha/ficha-3.png" alt="main"></div>

</section>