<div class="container relative" id="video-block">
  <div class="relative z-[1]">
    <a data-fancybox href="https://www.youtube.com/watch?v=QE2q3W36_eM&ab_channel=EvilSpace" class="block w-full h-[65rem] xl:h-[42rem] mt-120 xl:mt-60 rounded-25 xl:rounded-15 overflow-hidden relative">
      <button class="border-0 bg-transparent">
        <svg class="w-60 h-60 absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] fill-lblue hoverScale">
          <use href='#playIcon'></use>
        </svg>
      </button>
      <img class="w-full h-full object-cover" src="./assets/images/video/video-1.jpg" alt="video">
    </a>

  </div>

  <div class="wave absolute left-0 bottom-[-9rem] h-[56.7rem] w-full">
    <svg class="h-full w-full">
      <use href='#wave'></use>
    </svg>
  </div>
</div>