<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head }}
</head>

<body>
    {{> sprite }}

    <div class="page">

        <!-- Preloader-->

        <div class="preloader" id="preloader">
            <div class="spin">
                <div class="lds-ring"><div></div><div></div><div></div><div class="logo"><svg><use href='#logoPreloaderIcon'></use></svg></div></div>
            </div>
        </div>
        
        <!-- Header -->

        {{> header }}

        <!-- Main content -->
        <main>

            {{> body }}

        </main>

        <!-- Footer -->
        {{> footer }}

    </div>

        <!-- Modal-Call -->
        {{> modal}}

        <!-- Modal-Res -->
        {{> modal-res}}

        <!-- Modal-FeedBack -->
        {{> feedback}}

    <!-- JS -->
    <script src="assets/js/vendor.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/temp.js"></script>

        
    <script>
        window.onload = function() { preloader.style.opacity = "0"; setTimeout(() => preloader.style.display = 'none', 300);}
    </script>
</body>

</html>